<div class="title"><h1>Proposals Guidelines</h1></div>

<div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, dui vitae pharetra ornare, tellus orci placerat lacus, congue molestie dolor nisi eu lacus. Vestibulum rutrum augue risus, tristique molestie quam tincidunt nec. Cras sit amet lorem ligula. Suspendisse eu lacus tortor. Sed pharetra rutrum risus, sed consectetur eros dictum ac. Integer sit amet elit mi. Aliquam lorem tellus, egestas elementum ligula a, faucibus consequat leo.
  Donec lacinia ornare purus vitae commodo. Morbi vitae laoreet dui. Integer eget laoreet felis. Ut est erat, ullamcorper ut auctor quis, volutpat eu velit. Nulla eget nulla non odio sagittis rutrum id vel est. Aliquam lectus magna, volutpat a maximus ut, tempus iaculis elit. Donec tincidunt tempus elit viverra imperdiet. Pellentesque ac volutpat orci, at facilisis nibh. Morbi nec lobortis quam. Proin et libero at nisi vestibulum pharetra.
  Suspendisse imperdiet lectus sit amet consectetur consequat. Quisque condimentum eu neque a convallis. In eget augue ut justo malesuada vestibulum. Proin tincidunt tincidunt tellus, ut tincidunt odio consectetur vel. Duis vulputate, est vel varius iaculis, risus ligula tristique augue, ac feugiat lorem urna nec nibh. Nullam accumsan eros eu efficitur pharetra. Nam pharetra, tellus ac consectetur malesuada, nulla magna fermentum enim, ut tempus ex sem a enim. Suspendisse eu velit nunc. Pellentesque tincidunt aliquet turpis at imperdiet.</div>

<div class="title"><h1>Get Funding Through our Partner Projects</h1></div>

<div class="access-menu">
  <div class="column-icons">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Partner 1</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Partner 1">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, dui vitae pharetra ornare, tellus orci placerat lacus, congue molestie dolor nisi eu lacus. Vestibulum rutrum augue risus, tristique molestie quam tincidunt nec. Cras sit amet lorem ligula. Suspendisse eu lacus tortor. Sed pharetra rutrum risus, sed consectetur eros dictum ac. Integer sit amet elit mi. Aliquam lorem tellus, egestas elementum ligula a, faucibus consequat leo.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>APPLY THROUGH PARTNER 1</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="column-icons">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Partner 2</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Partner 2">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, dui vitae pharetra ornare, tellus orci placerat lacus, congue molestie dolor nisi eu lacus. Vestibulum rutrum augue risus, tristique molestie quam tincidunt nec. Cras sit amet lorem ligula. Suspendisse eu lacus tortor. Sed pharetra rutrum risus, sed consectetur eros dictum ac. Integer sit amet elit mi. Aliquam lorem tellus, egestas elementum ligula a, faucibus consequat leo.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>APPLY THROUGH PARTNER 2</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="column-icons">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Partner 3</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Partner 3">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, dui vitae pharetra ornare, tellus orci placerat lacus, congue molestie dolor nisi eu lacus. Vestibulum rutrum augue risus, tristique molestie quam tincidunt nec. Cras sit amet lorem ligula. Suspendisse eu lacus tortor. Sed pharetra rutrum risus, sed consectetur eros dictum ac. Integer sit amet elit mi. Aliquam lorem tellus, egestas elementum ligula a, faucibus consequat leo.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>APPLY THROUGH PARTNER 3</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="title"><h1>Proposal Guidelines</h1></div>


<div class="description"><strong>Before you start</strong><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, dui vitae pharetra ornare, tellus orci placerat lacus, congue molestie dolor nisi eu lacus. Vestibulum rutrum augue risus, tristique molestie quam tincidunt nec.</div>

<div class="description"><strong>Timeframe</strong><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, dui vitae pharetra ornare, tellus orci placerat lacus, congue molestie dolor nisi eu lacus. Vestibulum rutrum augue risus, tristique molestie quam tincidunt nec.</div>

<div class="description"><strong>When to apply</strong><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, dui vitae pharetra ornare, tellus orci placerat lacus, congue molestie dolor nisi eu lacus. Vestibulum rutrum augue risus, tristique molestie quam tincidunt nec.</div>

<div class="description"><strong>Proposal application steps</strong><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, dui vitae pharetra ornare, tellus orci placerat lacus, congue molestie dolor nisi eu lacus. Vestibulum rutrum augue risus, tristique molestie quam tincidunt nec.</div>

<div class="description"><strong>Integrative structural biology</strong><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, dui vitae pharetra ornare, tellus orci placerat lacus, congue molestie dolor nisi eu lacus. Vestibulum rutrum augue risus, tristique molestie quam tincidunt nec.</div>

<div class="description"><strong>Funding</strong><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, dui vitae pharetra ornare, tellus orci placerat lacus, congue molestie dolor nisi eu lacus. Vestibulum rutrum augue risus, tristique molestie quam tincidunt nec.</div>

<div class="description"><strong>Who qualifies</strong><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, dui vitae pharetra ornare, tellus orci placerat lacus, congue molestie dolor nisi eu lacus. Vestibulum rutrum augue risus, tristique molestie quam tincidunt nec.</div>

<div class="description">For more information, <a routerLink="../../contacts">contact us</a>.</div>



