.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.menu{
  background-color: #e1f2c2;
  /*background-color: #595956;*/
  text-align: center;
  width: 12%;
  font-size: xx-small;
}

.list{
  height: 70%;
}

.listlanguage{
  height: auto;
}

.labelmenu{
  text-transform: uppercase;
  color: black !important;
}

.logo{
  margin-top: 10%;
}

.mat-toolbar{
  color: white;
  /*background-color: #d64c29;*/
  background-color: #878783;
}

.toolbar-icons{
  flex: 1 1 auto;
}

.content{
  left: 20%;
}

.logofundings{
  margin-bottom: 15%;
}

.column-logos{
  display: inline-block;
  width: 33.3%;
  height: auto;
  padding-right: 1%;
  padding-left: 1.5%;
}

.toolbar-image{
  height: auto;

  align-items: center;
  margin-left: 25%;

}

a:link{
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #ec4c28;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}
