<div class="title"><h1>Contacts</h1></div>

<mat-list>
  <mat-list-item>
    <span matListItemTitle>Informazioni Generali</span>
    <span matListItemLine><a href="mailto:info@metrofood.it">info@metrofood.it</a></span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span matListItemTitle>Coordinatore</span>
    <span matListItemLine>Claudia Zoani, <a href="mailto:claudia.zoani@enea.it">claudia.zoani@enea.it</a></span>
    <span matListItemLine>ENEA - Divisione Biotecnologie e Agroindustria (SSPT-BIOAG)</span>
    <span matListItemLine>C.R. Casaccia</span>
    <span matListItemLine>Via Anguillarese 301, 00123 Roma (Italy)</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span matListItemTitle>Partenariato</span>
    <span matListItemLine>Università degli Studi di Napoli Federico II - Paola Adamo, <a href="mailto:paola.adamo@unina.it">paola.adamo@unina.it</a></span>
    <span matListItemLine>Università degli Studi di Siena - Angelo Riccaboni, <a href="mailto:angelo.riccaboni@unisi.it">angelo.riccaboni@unisi.it</a></span>
    <span matListItemLine>Università degli Studi di Parma - Maria Careri, <a href="mailto:maria.careri@unisi.it">maria.careri@unisi.it</a></span>
    <span matListItemLine>Università Sapienza di Roma - Cesare Manetti, <a href="mailto:cesare.manetti@uniroma1.it">cesare.manetti@uniroma1.it</a></span>
    <span matListItemLine>Università degli Studi di Bari Aldo Moro - Sabina Tangaro, <a href="mailto:sabina.tangaro@uniba.it">sabina.tangaro@uniba.it</a></span>
    <span matListItemLine>Università degli Studi del Molise - Remo Pareschi, <a href="mailto:remo.pareschi@unimol.it">remo.pareschi@unimol.it</a></span>
    <span matListItemLine>INRiM - Andrea M. Rossi, <a href="mailto:a.rossi@inrim.it">a.rossi@inrim.it</a></span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span matListItemTitle>I nostri social</span>
    <span matListItemLine (click)="goToExternalLink('https://www.facebook.com/Metrofood.it?locale=it_IT')">Facebook</span>
    <span matListItemLine (click)="goToExternalLink('https://www.instagram.com/metrofood_it?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==')">Instagram</span>
    <span matListItemLine (click)="goToExternalLink('https://www.linkedin.com/company/metrofood-it/')">Linkedin</span>
  </mat-list-item>
</mat-list>
