<div class="title"><h1>Open data of "spectroscopic signatures" for food frauds - Remote + Virtual access</h1></div>
<div class="subtitle"><h4>Deadline for applications: 30 April 2024</h4></div>

<img src="/access-portal-metrofood-it/assets/firme-spettroscopiche.jpg" alt="Spectroscopic signatures" width="80%">

<p>The facility offers the opportunity to use various smart sensors in the Infrared region, including imaging and remote sensing systems, for fast characterization of food fraud and food safety. Samples of interest (fresh and processed food) can be sent to the facility, and characterizations can also be carried out - with the support of the facility team - directly from a remote location.</p>
<p><strong>Target users:</strong> Research/Academics and food businesses</p>
<p><strong>Access type:</strong> Remote + Virtual access:</p>
<ul>
  <li>Remote access to the Virtual Lab</li>
  <li>Virtual access to the FoodDB</li>
</ul>
<p>The VIRTUAL LAB will connect the sensors to a remote desktop that will allow the user to conduct experiments via the Web (Internet of Sensors).</p>
<p><strong>Access mode:</strong> Free of charge access to the facilities (with no contribution to eventual shipping, travel and subsistence costs).</p>
<p><strong>Duration of the service:</strong> approximately 2 to 4 weeks. The duration may change according to the complexity of the analytical request and number of samples.</p>

<p><strong>Background and detailed service information:</strong></p>

<p>The service is based on the application of advanced spectroscopic sensor systems and portable devices to the agrifood sector. A major strength is the application of photoacoustic laser spectroscopy (LPAS), complemented by LIBS (laser-induced breakdown spectroscopy) technologies, SWIR (short-wave infrared) imaging, Raman spectroscopy, spectrofluorimetry, and remote sensing. A range of fully operational solutions for food safety and identification of food frauds will be offered.</p>

<p>The potential of remote and virtual access approaches will be combined, thus providing:</p>

<ul>
  <li>Remote access to the virtual laboratory - Users will send food samples to the facility for characterization and can then operate directly on the remote desktop.</li>
  <li>Web-based access to FoodDB, a flexible/scalable database (e.g., based on MongoDB) that collects all spectroscopic data collected by the smart sensors. The database will contain information on sample composition, sensor specifications, excitation wavelength, and sample response.</li>
</ul>

<p>The sample information should be provided.</p>

<ul>
  <li>Geographical origin of the fresh food or raw material</li>
  <li>Agronomic management information</li>
  <li>Production/processing process</li>
  <li>In the case of a processed food, it must be derived from a single recognized variety of raw materials</li>
</ul>

<p>The selection procedure will take into account the compliance with the technical, scientific and ethical requirements. Requested analyses have to fit into a project related to food fraud and food safety. The request has to include clearly defined objectives and timeframe.</p>

<p>Projects may be submitted by individual researchers, companies, or consortia of companies. Priority will be given to project proposals submitted by groups composed of researchers and SMEs. This will promote the possibility of conducting a comprehensive supply chain traceability study.</p>

<figure>
  <img src="/access-portal-metrofood-it/assets/tecnologialibs_en.jpg" alt="Advanced spectroscopic sensor systems and portable devices" width="80%">
  <figcaption><strong>Advanced spectroscopic sensor systems and portable devices</strong></figcaption>
</figure>

<p>For any information about METROFOOD-IT open calls, please contact <a href="mailto:servizi@metrofood.it">servizi@metrofood.it</a>.</p>

<p>For any information about this call, please contact <a href="mailto:antonella.lai@enea.it">antonella.lai@enea.it</a></p>

<p>This open call is promoted as a part of the METROFOOD-IT - project funded by NextGenerationEU NRRP M2 <em>"Education and Research"</em> - C4 <em>"From Research to Business"</em></p>

<div class="portal">
  <button mat-button (click)="goToExternalLink()">APPLY HERE</button>
</div>
