<div class="demo-wrap">
  <div class="demo-content">

    <img class="logo" src="/access-portal-metrofood-it/assets/metrofood_itretina.png" alt="Metrofood-IT" width="20%">
    <!--<h1><span class="demo-content-title"><strong>METROFOOD-IT</strong></span></h1>-->
    <h3><span class="demo-content-subtitle"><em>Strengthening of the Italian Research Infrastructure for Metrology<br/>and Open Access Data in support to the Agrifood</em></span></h3>

  </div>
</div>




<div class="title"><h1>Our Partner Projects</h1></div>

<div class="partnership">
  <div class="column-logos">
    <img mat-card-image class="partner-image" src="/access-portal-metrofood-it/assets/eneait.jpg" alt="ENEA">
  </div>
  <div class="column-logos">
    <img mat-card-image class="partner-image" src="/access-portal-metrofood-it/assets/unina.jpg" alt="UNINA">
  </div>
  <div class="column-logos">
    <img mat-card-image class="partner-image" src="/access-portal-metrofood-it/assets/unisi.jpg" alt="UNISI">
  </div>
  <div class="column-logos">
    <img mat-card-image class="partner-image" src="/access-portal-metrofood-it/assets/unipr.jpg" alt="UNIPR">
  </div>
  <div class="column-logos">
    <img mat-card-image class="partner-image" src="/access-portal-metrofood-it/assets/uniroma.jpg" alt="UNIROMA">
  </div>
  <div class="column-logos">
    <img mat-card-image class="partner-image" src="/access-portal-metrofood-it/assets/uniba.jpg" alt="UNIBA">
  </div>
  <div class="column-logos">
    <img mat-card-image class="partner-image" src="/access-portal-metrofood-it/assets/unimol.jpg" alt="UNIMOL">
  </div>
  <div class="column-logos">
    <img mat-card-image class="partner-image" src="/access-portal-metrofood-it/assets/inrim.jpg" alt="INRIM">
  </div>
</div>


<div class="access-menu">
  <div class="column-icons">
    <mat-card class="example-card">
      <img mat-card-image class="access-image" src="/access-portal-metrofood-it/assets/about_us.png" alt="About us" routerLink="./about-us">
    </mat-card>
  </div>
  <div class="column-icons">
    <mat-card class="example-card">
      <img mat-card-image class="access-image" src="/access-portal-metrofood-it/assets/our_technology_catalogue.png" alt="Technology Catalogue" routerLink="./access/technology-catalogue">
    </mat-card>
  </div>
  <div class="column-icons">
    <mat-card class="example-card">
      <img mat-card-image class="access-image" src="/access-portal-metrofood-it/assets/our_open_calls.png" alt="Open calls" routerLink="./access/open-calls">
    </mat-card>
  </div>
  <div class="column-icons">
    <mat-card class="example-card">
      <img mat-card-image class="access-image" src="/access-portal-metrofood-it/assets/living_labs.png" alt="living_labs" routerLink="#">
    </mat-card>
  </div>
</div>

<!--<div class="login-menu">
  <div class="column-login">
    <mat-card class="example-card">
      <img mat-card-image class="login-image" src="/access-portal-metrofood-it/assets/technology_catalogue.png" alt="Technology Catalogue" routerLink="./technology-catalogue">
    </mat-card>
  </div>
</div>-->


