<div class="title"><h1>Access</h1></div>

<div class="access-menu">
  <div class="column-icons">
    <mat-card class="example-card">
      <img mat-card-image class="access-image" src="../../../assets/technology_catalogue.png" alt="Technology Catalogue" routerLink="./technology-catalogue">
    </mat-card>
  </div>
  <div class="column-icons">
    <mat-card class="example-card">
      <img mat-card-image class="access-image" src="../../../assets/access_mode.png" alt="Access Mode" routerLink="./access-mode">
    </mat-card>
  </div>
  <div class="column-icons">
    <mat-card class="example-card">
      <img mat-card-image class="access-image" src="../../../assets/funding_for_access.png" alt="Funding for access" routerLink="./funding-for-access">
    </mat-card>
  </div>
  <div class="column-icons">
    <mat-card class="example-card">
      <img mat-card-image class="access-image" src="../../../assets/who_can_apply.png" alt="Who can apply" routerLink="./who-can-apply">
    </mat-card>
  </div>
  <div class="column-icons">
    <mat-card class="example-card">
      <img mat-card-image class="access-image" src="../../../assets/open_calls.png" alt="Open calls" routerLink="./open-calls">
    </mat-card>
  </div>
  <div class="column-icons">
    <mat-card class="example-card">
      <img mat-card-image class="access-image" src="../../../assets/proposal_submissions_faq.png" alt="Proposal Submission FAQ" routerLink="./proposal_submissions_faq" >
    </mat-card>
  </div>
</div>
