<div class="title"><h1>Technology Catalogue</h1></div>

<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">travel_explore</mat-icon>
        Transnational Access
      </ng-template>
      <div class="mat-tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper consequat libero, non commodo arcu ultricies et. Integer ultrices dignissim turpis, eleifend lobortis augue sagittis eu. Sed posuere mollis libero eget venenatis. Donec vel dictum quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin egestas ipsum odio, at ultrices nulla convallis non. Etiam dapibus massa massa, a laoreet ligula finibus vel. Donec risus lorem, facilisis vel fringilla id, venenatis sed ante. Integer lacinia est ut mollis consectetur. Nullam sollicitudin lectus at neque pellentesque lobortis. Nulla sed eleifend urna, eu bibendum nunc.</p>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Lorem Ipsum</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper consequat libero, non commodo arcu ultricies et. Integer ultrices dignissim turpis, eleifend lobortis augue sagittis eu. Sed posuere mollis libero eget venenatis. Donec vel dictum quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin egestas ipsum odio, at ultrices nulla convallis non. Etiam dapibus massa massa, a laoreet ligula finibus vel. Donec risus lorem, facilisis vel fringilla id, venenatis sed ante. Integer lacinia est ut mollis consectetur. Nullam sollicitudin lectus at neque pellentesque lobortis. Nulla sed eleifend urna, eu bibendum nunc.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button routerLink="./loremipsum">READ MORE</button>
          </mat-card-actions>
        </mat-card><br/>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Lorem Ipsum</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper consequat libero, non commodo arcu ultricies et. Integer ultrices dignissim turpis, eleifend lobortis augue sagittis eu. Sed posuere mollis libero eget venenatis. Donec vel dictum quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin egestas ipsum odio, at ultrices nulla convallis non. Etiam dapibus massa massa, a laoreet ligula finibus vel. Donec risus lorem, facilisis vel fringilla id, venenatis sed ante. Integer lacinia est ut mollis consectetur. Nullam sollicitudin lectus at neque pellentesque lobortis. Nulla sed eleifend urna, eu bibendum nunc.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>READ MORE</button>
          </mat-card-actions>
        </mat-card><br/>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Lorem Ipsum</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper consequat libero, non commodo arcu ultricies et. Integer ultrices dignissim turpis, eleifend lobortis augue sagittis eu. Sed posuere mollis libero eget venenatis. Donec vel dictum quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin egestas ipsum odio, at ultrices nulla convallis non. Etiam dapibus massa massa, a laoreet ligula finibus vel. Donec risus lorem, facilisis vel fringilla id, venenatis sed ante. Integer lacinia est ut mollis consectetur. Nullam sollicitudin lectus at neque pellentesque lobortis. Nulla sed eleifend urna, eu bibendum nunc.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>READ MORE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">vpn_lock</mat-icon>
        Virtual Access
      </ng-template>
      <div class="mat-tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper consequat libero, non commodo arcu ultricies et. Integer ultrices dignissim turpis, eleifend lobortis augue sagittis eu. Sed posuere mollis libero eget venenatis. Donec vel dictum quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin egestas ipsum odio, at ultrices nulla convallis non. Etiam dapibus massa massa, a laoreet ligula finibus vel. Donec risus lorem, facilisis vel fringilla id, venenatis sed ante. Integer lacinia est ut mollis consectetur. Nullam sollicitudin lectus at neque pellentesque lobortis. Nulla sed eleifend urna, eu bibendum nunc.</p>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Lorem Ipsum</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper consequat libero, non commodo arcu ultricies et. Integer ultrices dignissim turpis, eleifend lobortis augue sagittis eu. Sed posuere mollis libero eget venenatis. Donec vel dictum quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin egestas ipsum odio, at ultrices nulla convallis non. Etiam dapibus massa massa, a laoreet ligula finibus vel. Donec risus lorem, facilisis vel fringilla id, venenatis sed ante. Integer lacinia est ut mollis consectetur. Nullam sollicitudin lectus at neque pellentesque lobortis. Nulla sed eleifend urna, eu bibendum nunc.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>READ MORE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>

