<div class="title"><h1>Open data for food authenticity and traceability - Physical or remote access</h1></div>
<div class="subtitle"><h4>Deadline for applications: 30 April 2024</h4></div>

<img src="/access-portal-metrofood-it/assets/rintracciabilita-alimeti_ita.jpg" alt="Food traceability" width="80%">

<p>The service provided consists of the characterization of fresh and processed foods focusing on multielemental analysis (total content of macro- and micro essential and non-essential elements, and potentially toxic elements) and metabolomic analysis (content of micronutrients of nutritional interest, such as polyphenols).</p>
<p><strong>Target users:</strong> Research/academics operators and food business operators</p>
<p><strong>Access type:</strong> Physical or remote access</p>
<p><strong>Access mode:</strong> The service (pretreatment and analysis of samples) will be provided free of charge (with no contribution to eventual shipping and travel costs).</p>
<p><strong>Duration of the service:</strong> 3 to 5 weeks. Times may change and be agreed upon in relation to specific analytical needs.</p>

<p><strong>Background and detailed service information:</strong></p>

<p>The service will consist of multi-elemental and metabolomic analyses of samples of the same agrifood matrix provided by each user/applicant, on fresh or processed agrifood products, with the aim of assessing their quality and safety and comparing the variables monitored in products with different varieties and/or geographical origins.</p>

<p>The sample will be subjected to different pretreatment procedures (such as drying, lyophilization, pulverization, etc.) and acidic digestion followed by ICP-MS analysis, or solvent extraction followed by U-HPLC-HRMS analysis. Both physical access to the facility, with direct involvement in performing the analyses, and remote access will be provided.</p>

<p>The requested analyses must be part of a project related to food authenticity, origin demonstration and traceability. The request must include clearly defined objectives and timelines.</p>

<p>The requested information about samples (plant variety, geographical coordinates of plant cultivation site, agronomic data sheets and production process) is necessary to explore the relationships between the results of the analyses and environment cultivation characteristics and, in case of processed products, the production/transformation process. This approach supports the study of traceability and promotes the reliability, quality and safety of the product and production process. Furthermore, comparative analyses could be conducted in products of different varieties and/or geographical origin.</p>

<p>Knowledge of nutritional characteristics can better support the attribution of added value to products and - in the case of PDO products - the requested information is necessary to confirm the authenticity.</p>

<p>The data obtained will be subjected to chemometric analysis, exported to an electronic platform and made available to provide information on the quality, safety and authenticity of the products.</p>

<p>The selection procedure will take into account: compliance with the technical, scientific and ethical requirements. Requested analyses have to fit into a research project.</p>

<p>Projects may be submitted by individual researchers, companies or consortia of companies. Priority will be given to project proposals submitted by groups composed of researchers and SMEs. This will promote the possibility of conducting a comprehensive supply chain traceability study.</p>

<figure>
  <img src="/access-portal-metrofood-it/assets/esempio-cromatogramma.jpg" alt="Example of chromatogram of polyphenols and flavonoids in processed tomato" width="80%">
  <figcaption><strong>Example of chromatogram of polyphenols and flavonoids in processed tomato</strong></figcaption>
</figure>

<p>For any information about METROFOOD-IT open calls, please contact <a href="mailto:servizi@metrofood.it">servizi@metrofood.it</a>.</p>

<p>For any information about this call, please contact:</p>
<ul>
  <li><a href="mailto:elisabetta.pignoli@unina.it">elisabetta.pignoli@unina.it</a> for information about Multielement analysis;</li>
  <li><a href="mailto:gelsomina.riccardi@unina.it">gelsomina.riccardi@unina.it</a> for information about Metabolomics analysis.</li>
</ul>

<p>This open call is promoted as a part of the METROFOOD-IT - project funded by NextGenerationEU NRRP M2 <em>"Education and Research"</em> - C4 <em>"From Research to Business"</em></p>

<div class="portal">
  <button mat-button (click)="goToExternalLink()">APPLY HERE</button>
</div>
